h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul,
ol {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto";
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: red solid;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.services__info {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero__button {
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.customers__icon, .customers__svg, .modal__big__input, .modal__input, .modal__svg__box, .team__svg, .team__circle {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  border-bottom: solid #D4DBDA 1px;
}
@media screen and (min-width: 480px) {
  .header {
    border-bottom: solid #D4DBDA 1px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    border-bottom: solid #D4DBDA 1px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    border-bottom: solid #D4DBDA 1px;
  }
}
.header__item {
  position: relative;
}
.header__nav {
  display: none;
}
@media screen and (min-width: 480px) {
  .header__nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav {
    display: flex;
    justify-content: space-between;
  }
}
.header__logo-link {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header__menu-box {
  display: flex;
}
.header__menu-button {
  margin-left: 120px;
}
@media screen and (min-width: 480px) {
  .header__menu-button {
    margin-left: 260px;
  }
}
.header__svg-menu {
  fill: #000000;
  width: 40px;
  height: 40px;
  display: block;
}
@media screen and (min-width: 768px) {
  .header__svg-menu {
    display: none;
  }
}
.header__menu-button {
  background-color: transparent;
  border: none;
}
.header__list {
  display: flex;
  margin-left: 93px;
  gap: 50px;
  align-items: center;
}
.header__svg {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header__envelope {
  fill: #757575;
  width: 16px;
  height: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__smartphone {
  width: 10px;
  height: 16px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__svg:hover .header__envelope {
  fill: #2196F3;
}
.header__svg:hover .header__contacts {
  color: #2196F3;
}
.header__svg:hover .header__smartphone {
  fill: #2196F3;
}
.header__contacts {
  display: flex;
  margin-left: auto;
  gap: 50px;
  align-items: center;
}
.header__logo-color {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2196F3;
}
.header__logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: 0.03em;
  text-align: left;
  color: #000000;
}
.header__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link::after {
  display: block;
  position: absolute;
  opacity: 0;
  content: "";
  background-color: #2196F3;
  height: 3px;
  width: 100%;
  margin-top: 32px;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover::after {
  opacity: 1;
}
.header__link:hover {
  color: #2196f3;
}
.header__current::after {
  display: block;
  position: absolute;
  content: "";
  opacity: 1;
  background-color: #2196F3;
  height: 3px;
  width: 100%;
  margin-top: 32px;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__current {
  color: #2196f3;
}

.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images-index/img.png);
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 480px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__text {
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 26px;
  line-height: 162%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 300px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  animation-name: headline-text-animation;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@media screen and (min-width: 480px) {
  .hero__text {
    font-size: 26px;
    line-height: 162%;
    margin-bottom: 30px;
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 26px;
    line-height: 162%;
    margin-bottom: 30px;
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__text {
    font-size: 44px;
    line-height: 136%;
    margin-bottom: 30px;
    width: 696px;
  }
}
@keyframes headline-text-animation {
  0% {
    transform: translate(-1500px, 0);
    opacity: 0;
  }
  50% {
    text-shadow: 3px 2px 1px;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.hero__button {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: white;
  background: #2196f3;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}
@media screen and (min-width: 480px) {
  .hero__button {
    width: 200px;
    height: 50px;
  }
}
@media screen and (min-width: 768px) {
  .hero__button {
    width: 200px;
    height: 50px;
  }
}
@media screen and (min-width: 1300px) {
  .hero__button {
    width: 216px;
    height: 50px;
  }
}

.team {
  padding-bottom: 60px;
  padding-top: 60px;
  background: #F5F4FA;
}
@media screen and (min-width: 480px) {
  .team {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .team {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
.team__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
@media screen and (min-width: 480px) {
  .team__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
  }
}
.team__article {
  border-radius: 0px 0px 4px 4px;
  background: #FFF;
  padding-bottom: 36px;
  /* material shadow v1 */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 480px) {
  .team__article {
    padding-bottom: 36px;
  }
}
@media screen and (min-width: 768px) {
  .team__article {
    padding-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .team__article {
    padding-bottom: 42px;
  }
}
.team__img {
  width: 290px;
  height: 460px;
}
@media screen and (min-width: 480px) {
  .team__img {
    width: 450px;
    height: 460px;
  }
}
@media screen and (min-width: 768px) {
  .team__img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team__img {
    width: 278px;
    height: 260px;
  }
}
.team__headline {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
@media screen and (min-width: 480px) {
  .team__headline {
    font-size: 28px;
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) {
  .team__headline {
    font-size: 28px;
    font-weight: 700;
  }
}
@media screen and (min-width: 1200px) {
  .team__headline {
    font-size: 36px;
    font-weight: 700;
  }
}
.team__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}
@media screen and (min-width: 480px) {
  .team__name {
    font-size: 16px;
    font-weight: 500;
  }
}
@media screen and (min-width: 768px) {
  .team__name {
    font-size: 16px;
    font-weight: 500;
  }
}
@media screen and (min-width: 1200px) {
  .team__name {
    font-size: 16px;
    font-weight: 500;
  }
}
.team__info {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  padding-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .team__info {
    font-size: 16px;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  .team__info {
    font-size: 16px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1200px) {
  .team__info {
    font-size: 16px;
    font-weight: 400;
  }
}
.team__svg-list {
  display: flex;
  gap: 14px;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .team__svg-list {
    gap: 14px;
  }
}
@media screen and (min-width: 768px) {
  .team__svg-list {
    gap: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .team__svg-list {
    gap: 14px;
  }
}
.team__circle {
  display: flex;
  background-color: transparent;
  border-radius: 50px;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
}
@media screen and (min-width: 480px) {
  .team__circle {
    width: 44px;
    height: 44px;
  }
}
@media screen and (min-width: 768px) {
  .team__circle {
    width: 44px;
    height: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .team__circle {
    width: 44px;
    height: 44px;
  }
}
.team__circle:hover {
  background-color: #2196F3;
}
.team__circle:hover .team__svg {
  fill: #FFF;
}
.team__svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-property: fill;
}
@media screen and (min-width: 480px) {
  .team__svg {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 768px) {
  .team__svg {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .team__svg {
    width: 20px;
    height: 20px;
  }
}

.product {
  display: none;
}
@media screen and (min-width: 480px) {
  .product {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .product {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .product {
    padding-top: 94px;
    padding-bottom: 94px;
    display: block;
  }
}
.product__list {
  display: flex;
  justify-content: space-around;
}
.product__item {
  position: relative;
}
.product__transp {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  top: 225px;
  padding-top: 27px;
}
.product__text {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.product__headline {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.services {
  padding-top: 94px;
}
.services__img::before {
  display: block;
  background: #F5F4FA;
  content: "";
  padding-bottom: 25px;
  padding-top: 25px;
  margin-bottom: 30px;
  height: 120px;
  width: 310px;
  background-image: url(../images-index/antenna.png);
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 480px) {
  .services__img::before {
    height: 120px;
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .services__img::before {
    height: 120px;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .services__img::before {
    height: 120px;
    width: 270px;
  }
}
.services__img:nth-child(2)::before {
  background-image: url(../images-index/clock.png);
}
.services__img:nth-child(3)::before {
  background-image: url(../images-index/diagram.png);
}
.services__img:nth-child(4)::before {
  background-image: url(../images-index/astronaut.png);
}
.services__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .services__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .services__list {
    flex-direction: row;
    gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
  }
}
.services__img {
  margin-bottom: 30px;
}
.services__headline {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}
@media screen and (min-width: 480px) {
  .services__headline {
    text-align: center;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .services__headline {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .services__headline {
    height: 120px;
    text-align: left;
  }
}
.services__info {
  text-align: left;
  width: 310px;
}
@media screen and (min-width: 480px) {
  .services__info {
    text-align: left;
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .services__info {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .services__info {
    width: 270px;
    text-align: left;
  }
}

.is-hidden .modal {
  transform: scale(0);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FFF;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__headline {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal__text {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal__svg__box {
  fill: #212121;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 11px;
  transition-property: fill;
}

.modal__box {
  position: relative;
}

.modal__input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 30px;
  transition-property: border;
}

.modal__box:hover .modal__input {
  border: 1px solid #2196f3;
}

.modal__box:hover .modal__svg__box {
  fill: #2196F3;
}

.modal__box:focus .modal__input {
  border: 1px solid #2196f3;
}

.modal__box:focus .modal__svg__box {
  fill: #2196F3;
}

.modal__big__input {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-bottom: 87px;
  padding-left: 16px;
  transition-property: border;
}

.modal__big__input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal__big__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal__big__input:hover {
  border: 1px solid #2196f3;
}

.modal__big__input:focus {
  border: 1px solid #2196f3;
}

.modal__list {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}

.modal__button {
  display: block;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.modal__text__box {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.modal__text {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
  margin-right: 3px;
  margin-left: 8.4px;
}

.modal__text__color {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.modal__svg__close-box {
  width: 18px;
  height: 18px;
  fill: #000000;
}

.modal__close__button {
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -25px;
  top: -24px;
  background-color: transparent;
}

.position__button {
  position: relative;
}

.is-open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.js-menu-container {
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.menu {
  padding-left: 40px;
}
.menu__close-svg {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  fill: #212121;
}
.menu__close-button:hover .menu__close-svg {
  fill: #2196F3;
}
.menu__close-button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
}
.menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 35.7px;
  margin-bottom: 302px;
}
.menu__link {
  color: #212121;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover {
  color: #2196f3;
}
.menu__contacts {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  row-gap: 32px;
}
.menu__link-contact-big {
  font-size: 34px;
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link-contact-big:hover {
  color: #2196F3;
}
.menu__link-contact {
  color: #757575;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link-contact:hover {
  color: #2196F3;
}
.menu__current {
  color: #2196f3;
}

.customers {
  background: #FFF;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .customers {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .customers {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.customers__headline {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
@media screen and (min-width: 480px) {
  .customers__headline {
    font-size: 28px;
  }
}
@media screen and (min-width: 768px) {
  .customers__headline {
    font-size: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__headline {
    font-size: 36px;
  }
}
.customers__list {
  display: flex;
  gap: 30px;
  row-gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .customers__list {
    display: flex;
    gap: 30px;
    row-gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .customers__list {
    display: flex;
    gap: 30px;
    row-gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .customers__list {
    gap: 27px;
    margin-top: 50px;
  }
}
.customers__svg {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 16px;
  padding-bottom: 16px;
  transition-property: border;
}
@media screen and (min-width: 480px) {
  .customers__svg {
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .customers__svg {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__svg {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.customers__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
}
@media screen and (min-width: 480px) {
  .customers__icon {
    width: 106px;
    height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .customers__icon {
    width: 106px;
    height: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__icon {
    width: 106px;
    height: 60px;
  }
}
.customers__svg:hover {
  border: 1px solid #2196F3;
}
.customers__svg:hover .customers__icon {
  fill: #2196F3;
}

.footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.footer__big-box {
  display: block;
}
@media screen and (min-width: 480px) {
  .footer__big-box {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .footer__big-box {
    display: flex;
    gap: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__big-box {
    display: flex;
    gap: 70px;
  }
}
.footer__logo-link {
  display: block;
  margin-bottom: 20px;
}
.footer__logo-color {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2196f3;
}
.footer__logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: 0.03em;
  text-align: left;
  color: #fff;
}
.footer__address {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: #fff;
  font-style: normal;
}
.footer__mail {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}
.footer__tel {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}
.footer__box-r-headline {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer__box-r-svg-list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.footer__box-r-svg {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}
.footer__box-r-svg-circle {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1019607843);
  border-radius: 50px;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__box-r-svg-circle:hover {
  background-color: #2196F3;
}
.footer__super-right-svg {
  width: 24px;
  height: 24px;
  fill: #FFF;
  margin-left: 10px;
}
.footer__super-right-small-box {
  display: flex;
  margin-top: 20px;
  gap: 12px;
}
.footer__super-right-headline {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer__super-right-input {
  display: flex;
  width: 358px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
}
.footer__super-right-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  letter-spacing: 0.48px;
}
.footer__super-right-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  letter-spacing: 0.48px;
}
.footer__super-right-button {
  display: flex;
  border: none;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
  align-items: center;
  padding-left: 28px;
}/*# sourceMappingURL=main.css.map */