h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul,
ol {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto";
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: red solid;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.is-open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.js-menu-container {
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.menu {
  padding-left: 40px;
}
.menu__close-svg {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  fill: #212121;
}
.menu__close-button:hover .menu__close-svg {
  fill: #2196F3;
}
.menu__close-button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
}
.menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 35.7px;
  margin-bottom: 302px;
}
.menu__link {
  color: #212121;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover {
  color: #2196f3;
}
.menu__contacts {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  row-gap: 32px;
}
.menu__link-contact-big {
  font-size: 34px;
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link-contact-big:hover {
  color: #2196F3;
}
.menu__link-contact {
  color: #757575;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link-contact:hover {
  color: #2196F3;
}
.menu__current {
  color: #2196f3;
}
.menu__sites-list {
  display: flex;
  gap: 20px;
  margin-top: 24px;
}
.menu__sites-link {
  position: relative;
}
.menu__sites-link {
  color: #2196F3;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 122.222% */
  letter-spacing: 0.36px;
}
.menu__line {
  width: 1px;
  height: 22px;
  background: rgba(33, 33, 33, 0.2);
  position: absolute;
  top: 0px;
  left: -10px;
}

.display {
  display: flex;
}

.header {
  border-bottom: solid #D4DBDA 1px;
}
@media screen and (min-width: 480px) {
  .header {
    border-bottom: solid #D4DBDA 1px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    border-bottom: solid #D4DBDA 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    border-bottom: solid #D4DBDA 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.header__item {
  position: relative;
}
.header__nav {
  display: none;
}
@media screen and (min-width: 480px) {
  .header__nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav {
    gap: 280px;
  }
}
.header__menu-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header__menu-box {
    display: block;
    width: auto;
  }
}
.header__menu-button {
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  .header__menu-button {
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .header__menu-button {
    display: none;
  }
}
.header__svg-menu {
  fill: #000000;
  width: 40px;
  height: 40px;
  display: block;
}
@media screen and (min-width: 768px) {
  .header__svg-menu {
    display: none;
  }
}
.header__menu-button {
  background-color: transparent;
  border: none;
}
.header__list {
  display: flex;
  margin-left: 88px;
  gap: 51px;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .header__list {
    display: flex;
    margin-left: 93px;
    gap: 50px;
    align-items: center;
  }
}
.header__svg {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header__envelope {
  fill: #757575;
  width: 16px;
  height: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__smartphone {
  width: 10px;
  height: 16px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link-contact:hover {
  color: #2196F3;
}
.header__svg:hover .header__envelope {
  fill: #2196F3;
}
.header__svg:hover .header__contacts {
  color: #2196F3;
}
.header__svg:hover .header__smartphone {
  fill: #2196F3;
}
.header__contacts {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  row-gap: 10px;
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 50px;
    align-items: center;
  }
}
.header__logo-color {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2196F3;
}
.header__logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: 0.03em;
  text-align: left;
  color: #000000;
}
.header__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link-contact {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link::after {
  display: block;
  position: absolute;
  opacity: 0;
  content: "";
  background-color: #2196F3;
  height: 3px;
  width: 100%;
  margin-top: 32px;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover::after {
  opacity: 1;
}
.header__link:hover {
  color: #2196f3;
}
.header__current::after {
  display: block;
  position: absolute;
  content: "";
  opacity: 1;
  background-color: #2196F3;
  height: 3px;
  width: 100%;
  margin-top: 32px;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__current {
  color: #2196f3;
}

.projects {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .projects {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .projects {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .projects {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.projects__article {
  border: 1px solid #EEE;
  background: #FFF;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__article:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  row-gap: 15px;
  justify-content: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 480px) {
  .projects__list {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .projects__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__list {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
  }
}
.projects__button {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  height: 38px;
  font-family: "Roboto";
  text-align: center;
  color: #212121;
  background: #F5F4FA;
  border-radius: 4px;
  border: none;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__button:hover {
  color: #FFFFFF;
  background: #2196f3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.projects__big-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 30px;
  gap: 27px;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .projects__big-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 30px;
    gap: 27px;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .projects__big-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    gap: 27px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .projects__big-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    gap: 27px;
    justify-content: center;
  }
}
.projects__box {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.projects__article {
  border: 1px solid #EEE;
  background: #FFF;
  position: relative;
}
.projects__headline {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: #212121;
  margin-bottom: 4px;
}
@media screen and (min-width: 480px) {
  .projects__headline {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    color: #212121;
    margin-bottom: 4px;
  }
}
@media screen and (min-width: 768px) {
  .projects__headline {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    color: #212121;
    margin-bottom: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__headline {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    color: #212121;
    margin-bottom: 4px;
  }
}
.projects__img {
  width: 330px;
  height: 294px;
  flex-shrink: 0;
}
@media screen and (min-width: 480px) {
  .projects__img {
    width: 450px;
    height: 294px;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 768px) {
  .projects__img {
    width: 350px;
    height: 294px;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 1200px) {
  .projects__img {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
  }
}
.projects__info {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}
@media screen and (min-width: 480px) {
  .projects__info {
    color: #757575;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.48px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__info {
    color: #757575;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.48px;
  }
}
.projects__item {
  margin-bottom: 34px;
}
.projects__hover-box {
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  position: absolute;
  padding-left: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  transition: opacity 250sm cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__article:hover .projects__hover-box {
  opacity: 1;
}
.projects__hover-text {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  letter-spacing: 0.54px;
}

.footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 480px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.footer__big-box {
  display: block;
}
@media screen and (min-width: 480px) {
  .footer__big-box {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .footer__big-box {
    display: flex;
    flex-wrap: wrap;
    gap: 165px;
    justify-content: center;
    align-items: center;
    row-gap: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__big-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }
}
.footer__logo-link {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer__logo-link {
    justify-content: flex-start;
  }
}
.footer__box-left {
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__box-left {
    padding-bottom: 0px;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__list {
    display: block;
  }
}
.footer__logo-color {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  color: #2196f3;
}
.footer__address {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer {
    display: block;
  }
}
.footer__logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: 0.03em;
  text-align: left;
  color: #fff;
}
.footer__address {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: #fff;
  font-style: normal;
}
.footer__mail {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}
.footer__tel {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}
.footer__box-right {
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__box-right {
    padding-bottom: 0px;
  }
}
.footer__box-r-headline {
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .footer__box-r-headline {
    display: block;
  }
}
.footer__box-r-svg-list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}
.footer__box-r-svg {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}
.footer__box-r-svg-circle {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1019607843);
  border-radius: 50px;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__box-r-svg-circle:hover {
  background-color: #2196F3;
}
.footer__super-right-svg {
  width: 24px;
  height: 24px;
  fill: #FFF;
  margin-left: 10px;
}
.footer__super-right-small-box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  row-gap: 12px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .footer__super-right-small-box {
    margin-top: 20px;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__super-right-small-box {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 12px;
  }
}
.footer__super-right-headline {
  display: flex;
  color: #fff;
  justify-content: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .footer__super-right-headline {
    display: block;
  }
}
.footer__super-right-input {
  display: flex;
  width: 450px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
}
@media screen and (min-width: 1200px) {
  .footer__super-right-input {
    width: 358px;
    height: 50px;
  }
}
.footer__super-right-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  letter-spacing: 0.48px;
}
.footer__super-right-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  letter-spacing: 0.48px;
}
.footer__super-right-button {
  display: flex;
  border: none;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
  align-items: center;
  padding-left: 28px;
}/*# sourceMappingURL=portfolio.css.map */