.header-link-active::after {
    display: block;
    width: 100%;
    opacity: 1;
    content: "";
    background-color: $bg-button-color;
    height: 3px;
    margin-top: 32px;
}

.header-link-active {
    color: $bg-button-color;
}