h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

ul, ol {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-size: 100%;
    font-family: 'Roboto';
}

*{
    margin: 0;
    padding: 0;
}
