.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Roboto';
}

.header {
    border-bottom: solid #D4DBDA 1px ;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.header-logo-link {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-list {
    display: flex;
    margin-left: 93px;
    gap: 50px;
    align-items: center;
}

.header-contacts {
    display: flex;
    margin-left: 344px;
    gap: 50px;
    align-items: center;
}

.header-logo-color {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
    color: #2196F3;
}

.header-logo {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 400;
    line-height: 1.38;
    letter-spacing: 0.03em;
    text-align: left;
    color: #000000;
}

.header-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: #212121;
}

.header-link:hover {
    color: #2196F3;
}

.header-contact-link {

    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: #757575;
}

.header-contact-link:hover {
    color: #2196F3;
}

#footer {

    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo-link {
    display: block;
    margin-bottom: 20px;
}

.footer-logo-color {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
    color: #2196F3;

}

.footer-logo {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 400;
    line-height: 1.38;
    letter-spacing: 0.03em;
    text-align: left;
    color: white;
}

.footer-address {

    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF;
    font-style: normal;
}

.footer-mail {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF99;
    margin-top: 9px;
}

.footer-tel {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF99;
    margin-top: 9px;
}