.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: red ;
    outline-style: dashed;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Roboto';
}

.header-nav {
    display: flex;
}

.header-logo-link {
    margin-top: 24px;
    margin-bottom: 25px;
}

.header-list {
    display: flex;
    margin-left: 93px;
    gap: 50px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.header-contacts {
    display: flex;
    margin-left: 344px;
    gap: 50px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.header-logo-color {
    font-family: 'Raleway';
font-size: 26px;
font-weight: 700;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: left;
color: #2196F3;
}

.header-logo {
font-family: 'Raleway';
font-size: 26px;
font-weight: 400;
line-height: 1.38;
letter-spacing: 0.03em;
text-align: left;
color: #000000;
}

.header-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: #212121;
}

.header-link:hover {
    color: #2196F3;
}

.header-contact-link {
    
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: #212121;
}

.header-contact-link:hover {
    color: #2196F3;
}

#footer {
   
    background: #2F303A;
    
    }

    .footer-logo-color {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
    color: #2196F3;
    padding-left: 215px;

    }
    
    .footer-logo {
        font-family: 'Raleway';
    font-size: 26px;
    font-weight: 400;
    line-height: 1.38;
    letter-spacing: 0.03em;
    text-align: left;
    color: white;
    }

    .footer-address {
      
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF;
    font-style: normal;
    padding-left: 215px;
    }
    
    .footer-mail {
     
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF99;
    padding-left: 215px;
    }
    
    .footer-tel {
     
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF99;
    padding-left: 215px;
    }