.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Roboto';
}

.header {
    border-bottom: solid #D4DBDA 1px ;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.header-logo-link {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-list {
    display: flex;
    margin-left: 93px;
    gap: 50px;
    align-items: center;
}

.header-svg-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-svg-envelope {
    fill: #757575;
    width: 16px;
    height: 12px;
}

.header-svg-smartphone {
    width: 10px;
height: 16px;
fill: #757575;
}

.header-svg-item:hover .header-svg-envelope {
    fill: #2196F3;
}

.header-svg-item:hover .header-contact-link {
    color: #2196F3;
}

.header-svg-item:hover .header-svg-smartphone {
    fill: #2196F3;
}



.header-contacts {
    display: flex;
    margin-left: auto;
    gap: 50px;
    align-items: center;
}

.header-logo-color {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
    color: #2196F3;
}

.header-logo {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 400;
    line-height: 1.38;
    letter-spacing: 0.03em;
    text-align: left;
    color: #000000;
}

.header-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: #212121;
}

.header-link:hover {
    color: #2196F3;
}

.header-contact-link {

    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: #757575;
}

#footer {

    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.big-footer-box {
    display: flex;
    gap: 70px;
}

.footer-logo-link {
    display: block;
    margin-bottom: 20px;
}

.footer-logo-color {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
    color: #2196F3;

}

.footer-logo {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 400;
    line-height: 1.38;
    letter-spacing: 0.03em;
    text-align: left;
    color: white;
}

.footer-address {

    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF;
    font-style: normal;
}

.footer-mail {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF99;
    margin-top: 9px;
}

.footer-tel {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF99;
    margin-top: 9px;
}

.footer-box-r-headline {
    color: #FFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.footer-box-r-svg-list {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.footer-box-r-svg {
    width: 20px;
height: 20px;
fill: #FFFFFF;
}

.footer-box-r-svg-circle {
    display: flex;
    background-color: #FFFFFF1A;
    border-radius: 50px;
    width: 44px;
height: 44px;
justify-content: center;
align-items: center;
}

.footer-box-r-svg-circle:hover {
    background-color: #2196F3;
}

.super-right-svg {
    width: 24px;
height: 24px;
fill: #FFF;
margin-left: 10px;
}


.super-right-small-box {
    display: flex;
    margin-top: 20px;
    gap: 12px;
}

.super-right-headline {
    color: #FFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.super-right-input {
    display: flex;
    width: 358px;
height: 50px;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.30);
background: rgba(33, 150, 243, 0.00);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
flex-direction: column;
justify-content: center;
padding-left: 16px;
}

.super-right-input::placeholder {
    color: rgba(255, 255, 255, 0.60);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
letter-spacing: 0.48px;
}

.super-right-button {
    display: flex;
    border: none;
    width: 200px;
height: 50px;
flex-shrink: 0;
    border-radius: 4px;
background: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
align-items: center;
padding-left: 28px;

}