/* .header-link {
    font-family: 'Raleway';
}
.header-item {
    font-family: 'Roboto';
}
.projects-item {
    font-family: 'Roboto';
}
.projects-item2 {
    font-family: 'Roboto';
}
.footer-address {
    font-family: 'Roboto';
}
#footer-link {
    font-family: 'Raleway';
    color: white;
}
.footer-item {
    font-family: 'Roboto';
}
.footer-address {
    font-family: 'Roboto';
} */

.body {
font-family: 'Roboto';
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header-link {
    font-family: 'Raleway';
font-size: 26px;
font-weight: 700;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: left;
color: #2196F3;
}

#header-link {
font-family: 'Raleway';
font-size: 26px;
font-weight: 400;
line-height: 1.38;
letter-spacing: 0.03em;
text-align: left;
color: #000000;
}

.header-link2 {
    
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: #212121;
}

.header-link2:hover {
    color: #2196F3;
}

#header-link2 {
   
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
text-align: left;
color: #757575;
}

#header-link2:hover {
    color: #2196F3;
}

.project-button {

    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.project-button:hover {
    color: #FFFFFF;
}

.projects-headline {

    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    color: #212121;
    }

.project-info {

font-size: 16px;
font-weight: 400;
line-height: 1.87;
letter-spacing: 0.03em;
text-align: left;
color: #757575;
}

#footer {
    
background: #2F303A;

}

.footer-link {
    font-family: 'Raleway';
font-size: 26px;
font-weight: 700;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: left;
color: #2196F3;
}

#footer-link {
    font-family: 'Raleway';
font-size: 26px;
font-weight: 400;
line-height: 1.38;
letter-spacing: 0.03em;
text-align: left;
color: white;
}

.footer-address {

font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: #FFFFFF;
font-style: normal;
}

.footer-mail {

font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: #FFFFFF99;
}

.footer-tel {

font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: #FFFFFF99;
}