/* .header-link {
    font-family: 'Raleway';
}
.header-item {
    font-family: 'Roboto';
}
.headline-text {
    font-family: 'Roboto';
}
.headline-button {
    font-family: 'Roboto';
}
.services-item {
    font-family: 'Roboto';
}
.product-text {
    font-family: 'Roboto';
}
.team-text {
    font-family: 'Roboto';
}
.team-item {
    font-family: 'Roboto';
}
.footer-link {
    font-family: 'Raleway';
    color: rgba(33, 150, 243, 1);
}
.footer-item {
    font-family: 'Roboto';
}
.footer-address {
    font-family: 'Roboto';
}
#footer-link {
    font-family: 'Raleway';
    color: white;
} */

.body {
font-family: 'Roboto';
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header-link {
    font-family: 'Raleway';
font-size: 26px;
font-weight: 700;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: left;
color: #2196F3;
}

#header-link {
font-family: 'Raleway';
font-size: 26px;
font-weight: 400;
line-height: 1.38;
letter-spacing: 0.03em;
text-align: left;
color: #000000;
}

.header-link2 {
    
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: #212121;
}

.header-link2:hover {
    color: #2196F3;
}

#header-link2 {
    
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
text-align: left;
color: #757575;
}

#header-link2:hover {
    color: #2196F3;
}

.headline-text {
   
font-size: 44px;
font-weight: 900;
line-height: 1.36;
letter-spacing: 0.06em;
text-align: center;
color: #FFFFFF;
}
.headline {

background: #2F303A;
}

.headline-button {

font-size: 16px;
font-weight: 700;
line-height: 1.87;
letter-spacing: 0.06em;
text-align: center;
color: white;
}

.services-headline {
   
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
text-align: left;
color: #212121;
}

.services-info {
    
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: #757575;
}

.product-headline {
   
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}

.team-headline {
   
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}

.team-name {
    
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;
color: #212121;

}

.team-info {
   
font-size: 16px;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;
color: #757575;

}

#footer {
   
background: #2F303A;

}

.footer-link {
    font-family: 'Raleway';
font-size: 26px;
font-weight: 700;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: left;
color: #2196F3;
}

#footer-link {
    font-family: 'Raleway';
font-size: 26px;
font-weight: 400;
line-height: 1.38;
letter-spacing: 0.03em;
text-align: left;
color: white;
}

.footer-address {
  
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: #FFFFFF;
font-style: normal;
}

.footer-mail {
 
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: #FFFFFF99;
}

.footer-tel {
 
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: #FFFFFF99;
}



