.headline-text {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    /* 136.364% */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    
}

.headline {

    background: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}

.headline-button {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    color: white;
    background: #2196F3;
    border-radius: 4px;
    height: 50px;
    width: 216px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: none;

}

.some::before {
    display: block;
    background: #F5F4FA;
    content: "";
    padding-bottom: 25px;
padding-top: 25px;
margin-bottom: 30px;
height: 120px;
background-image: url(../images-index/antenna.png);
background-repeat: no-repeat;
background-position: center;

}

.some:nth-child(2)::before {
background-image: url(../images-index/clock.png);

}

.some:nth-child(3)::before {
    background-image: url(../images-index/diagram.png);
    
    }

    .some:nth-child(4)::before {
        background-image: url(../images-index/astronaut.png);
        
        }


.services {
    padding-top: 94px;
}

.services-list {
    display: flex;
    gap: 30px;
}

.services-img {
    margin-bottom: 30px;
}

.section-headline {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40) ), url(../images-index/img.png);
    background-size: cover;
    padding-top: 200px;
padding-bottom: 200px;
}

.services-headline {

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: left;
    color: #212121;
    margin-bottom: 10px;
}

.services-info {

    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: #757575;
}

.product {
    padding-top: 94px;
    padding-bottom: 94px;
}


.product-list2 {
    display: flex;
    justify-content: space-around;
}

.product-item2 {
    position: relative;
}

.product-transp {
    width: 370px;
height: 70px;
background: rgba(47, 48, 58, 0.80);
position: absolute;
top: 225px;
padding-top: 27px;
}

.product-transp-text {
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.product-headline {

    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
}

.team {
    padding-top: 94px;
    background: #F5F4FA;
    padding-bottom: 94px;

}

.team-list {
    display: flex;
    justify-content: space-around;
}

.team-article {
    border-radius: 0px 0px 4px 4px;
background: #FFF;
padding-bottom: 42px;

/* material shadow v1 */
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-img {
    width: 270px;
    height: 260px;
}

.team-headline {

    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
}

.team-name {

    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;

}

.team-info {

    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
    padding-bottom: 30px;

}

.team-svg-list {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.svg-circle {
    display: flex;
    background-color: transparent;
    border-radius: 50px;
    width: 44px;
height: 44px;
justify-content: center;
align-items: center;
}

.svg-circle:hover {
    background-color: #2196F3;
}

.svg-circle:hover .team-svg {
    fill: #FFF;
}

.team-svg {
    width: 20px;
height: 20px;
fill: #AFB1B8;
}

.section-customers {
    background: #FFF;
    padding-top: 94px;
    padding-bottom: 94px;
}

 .customers-headline {
    color: #212121;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
} 

 .customers-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
} 

 .customers-svg-box {
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.customers-icon {
    width: 106px;
    height: 60px;
    fill: #afb1b8;
}

.customers-svg-box:hover {
    border: 1px solid #2196F3; 
}

.customers-svg-box:hover .customers-icon {
    fill: #2196F3;
}

.backdrop {
    background: rgba(0, 0, 0, 0.20);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #FFF;
    width: 528px;
height: 581px;
border-radius: 4px;
background: #FFF;
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.modal-headline {
    color: #212121;
text-align: center;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.6px;
margin-bottom: 12px;
}

.modal-text {
    color: #757575;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}

.modal-svg-box {
    fill: #212121;
    width: 18px;
height: 18px;
position: absolute;
left: 12px;
top: 11px;
}

.modal-box {
    position: relative;
}

.modal-input {
    width: 448px;
height: 40px;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
}

.big-modal-input {
    width: 448px;
height: 120px;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
padding-bottom: 87px;
padding-left: 16px;
}

.big-modal-input::placeholder {
    color: rgba(117, 117, 117, 0.50);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
}

.modal-list {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}

.modal-button {
    display: block;
border-radius: 4px;
background: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
border: none;
color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
padding-left: 52px;
padding-right: 52px;
padding-top: 10px;
padding-bottom: 10px;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
}

.modal-text-box {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}


.modal-text {
    color: #757575;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
margin-right: 3px;
}

.modal-text-color {
    color: #2196F3;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
text-decoration-line: underline;
}

.modal-svg-close-box {
    width: 18px;
height: 18px;
fill: #000000;
}

.close-modal-button {
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -25px;
    top: -24px;
}

.position-button {
    position: relative;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}