.headline-text {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    /* 136.364% */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    
}

.headline {

    background: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}

.headline-button {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    color: white;
    background: #2196F3;
    border-radius: 4px;
    height: 50px;
    width: 216px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: none;

}

.some::before {
    display: block;
    background: #F5F4FA;
    content: "";
    padding-bottom: 25px;
padding-top: 25px;
margin-bottom: 30px;
height: 120px;
background-image: url(../images-index/antenna.png);
background-repeat: no-repeat;
background-position: center;

}

.some:nth-child(2)::before {
background-image: url(../images-index/clock.png);

}

.some:nth-child(3)::before {
    background-image: url(../images-index/diagram.png);
    
    }

    .some:nth-child(4)::before {
        background-image: url(../images-index/astronaut.png);
        
        }


.services {
    padding-top: 94px;
}

.services-list {
    display: flex;
    gap: 30px;
}

.services-img {
    margin-bottom: 30px;
}

.section-headline {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40) ), url(../images-index/img.png);
    background-size: cover;
    padding-top: 200px;
padding-bottom: 200px;
}

.services-headline {

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: left;
    color: #212121;
    margin-bottom: 10px;
}

.services-info {

    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: #757575;
}

.product {
    padding-top: 94px;
    padding-bottom: 94px;
}


.product-list2 {
    display: flex;
    justify-content: space-around;
}

.product-headline {

    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
}

.team {
    padding-top: 94px;
    background: #F5F4FA;
    padding-bottom: 94px;

}

.team-list {
    display: flex;
    justify-content: space-around;
}

.team-article {
    border-radius: 0px 0px 4px 4px;
background: #FFF;

/* material shadow v1 */
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-img {
    width: 270px;
    height: 260px;
}

.team-headline {

    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
}

.team-name {

    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;

}

.team-info {

    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
    padding-bottom: 30px;

}

.section-customers {
    background: #FFF;
    padding-top: 94px;
    padding-bottom: 94px;
}

 .customers-headline {
    color: #212121;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
} 

 .customers-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
} 

 .customers-item {
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    padding-left: 32px;
    padding-right: 32px;

}

/* .customers-item:hover {
    fill: #2196F3;
    border: 1px solid #2196F3;
}  */

 .customers-icon {
    width: 106px;
    fill: #afb1b8;
}

/* .customers-icon:hover {
fill: #2196F3;
} */