.is-open {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.js-menu-container {
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}



.menu {

    padding-left: 40px;




    &__close-svg {
        width: 40px;
    height: 40px;
    flex-shrink: 0;
    fill: #212121;
    }

    &__close-button:hover &__close-svg {
        fill: #2196F3;
    }


    &__close-button {
        border: none;
        background-color: transparent;
        position: absolute;
        top: 10px;
        right: 15px;

    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 35.7px;
        margin-bottom: 302px;

    }


        &__link {
            color: #212121;
            font-family: Roboto;
            font-size: 40px; 
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.8px;
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        }

        &__link:hover {
            color: $hover-headline-color;
        }


        &__contacts {
            display: flex;
            margin-left: auto;
flex-direction: column;
            row-gap: 32px;


        }

        &__link-contact-big {
    font-size: 34px;
    color: #757575;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        &__link-contact-big:hover {
            color: #2196F3;
        }


        &__link-contact {
    
            color: #757575;
            font-family: Roboto;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.48px;
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }



        &__link-contact:hover {   
            color: #2196F3;
        }

        &__current {
            color: $hover-headline-color;
        }
}


