.services {
    padding-top: 94px;

    &__img::before {
        display: block;
        background: #F5F4FA;
        content: "";
        padding-bottom: 25px;
        padding-top: 25px;
        margin-bottom: 30px;
        height: 120px;
        width: 310px;
        background-repeat: no-repeat;
        background-position: center;

        @media screen and (min-width: 480px) {
            height: 120px;
            width: 450px;



    
        }
    
    
        @media screen and (min-width: 768px) {
            height: 120px;
            width: 354px;



    
        }
    
        @media screen and (min-width: 1200px) {
            height: 120px;
            width: 270px;
            background-image: url(../../img/dekstop/antenna-services-1-dekstop1x.webp);


            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../../img/dekstop/antenna-services-1-dekstop2x.webp);
            }
        }
    
    }
    
    &__img:nth-child(2)::before {
        background-image: url(../../);


        @media screen and (min-width: 1200px) {
            height: 120px;
            width: 270px;
            background-image: url(../../img/dekstop/clock-services-2-dekstop1x.webp);


            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../../img/dekstop/clock-services-2-dekstop2x.webp);
            }
        }
    
    }
    
    &__img:nth-child(3)::before {
        background-image: url(../../);


        @media screen and (min-width: 1200px) {
            height: 120px;
            width: 270px;
            background-image: url(../../img/dekstop/diagram-services-3-dekstop1x.webp);


            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../../img/dekstop/diagram-services-3-dekstop2x.webp);
            }
        }
    
    }
    
    &__img:nth-child(4)::before {
        background-image: url(../../);


        @media screen and (min-width: 1200px) {
            height: 120px;
            width: 270px;
            background-image: url(../../img/dekstop/astronaut-services-4-dekstop1x.webp);


            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(../../img/dekstop/astronaut-services-4-dekstop2x.webp);
            }
        }
    
    }
    
    
    
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        


        @media screen and (min-width: 480px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
    
        @media screen and (min-width: 768px) {
            flex-direction: row;
            gap: 30px;
            row-gap: 30px;
            flex-wrap: wrap;
        }
    
        @media screen and (min-width: 1200px) {

        }
    }
    
    &__img {
        margin-bottom: 30px;


    }
    
    
    
    &__headline {
    
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-align: center;
        color: $title-color;
        margin-bottom: 10px;

        @media screen and (min-width: 480px) {
            text-align: center;
            margin-bottom: 10px;
        }
    
    
        @media screen and (min-width: 768px) {
            text-align: left;
        }
    
        @media screen and (min-width: 1200px) {
            text-align: left;
        }
    }
    
    &__info {
       @extend %text;
       text-align: left;
       width: 310px;


       @media screen and (min-width: 480px) {
        text-align: left;
        width: 450px;
    }


    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
        text-align: left;
    }
    }


}



