.services {
    padding-top: 94px;

    &__img::before {
        display: block;
        background: #F5F4FA;
        content: "";
        padding-bottom: 25px;
        padding-top: 25px;
        margin-bottom: 30px;
        height: 120px;
        background-image: url(../images-index/antenna.png);
        background-repeat: no-repeat;
        background-position: center;
    
    }
    
    &__img:nth-child(2)::before {
        background-image: url(../images-index/clock.png);
    
    }
    
    &__img:nth-child(3)::before {
        background-image: url(../images-index/diagram.png);
    
    }
    
    &__img:nth-child(4)::before {
        background-image: url(../images-index/astronaut.png);
    
    }
    
    
    
    &__list {
        display: flex;
        
        justify-content: center;
        gap: 30px;
    }
    
    &__img {
        margin-bottom: 30px;


    }
    
    
    
    &__headline {
    
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-align: left;
        color: $title-color;
        margin-bottom: 10px;
    }
    
    &__info {
       @extend %text;
    }


}



