body {
    font-family: 'Roboto';

}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: red solid;

    @media screen and (min-width: 480px) {
        width: 480px;
        padding-left: 15px;
        padding-right: 15px;
    }    

    @media screen and (min-width: 768px) {
        width: 768px;
        padding-left: 15px;
        padding-right: 15px;
    }

    @media screen and (min-width: 1200px) {

        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
    }
}